<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body style="background-image: url(/static/images/back.jpg);">
    <!-- <nav class="navbar navbar-expands-sm bg-warning">
         <a class="navbar-brand text-success" href="#">VEG <span class="badge bg-danger">Factory</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid"> 

            <ul class="navbar-nav ">
                <li class="nav-item"><a class="nav-link" id="navbar" href="services.html">SERVICES</a></li>
                <li class="nav-item"><a class="nav-link" id="navbar" href="orders.html">ORDERS</a></li>
                <li class="nav-item"><a class="nav-link" id="navbar" href="locations.html">LOCATIONS</a></li>
                <li class="nav-item"><a class="nav-link" id="navbar" href="contact.html">CONTACT US</a></li>
                <div class="dropdown ">
                    <button type="button" id="dropbutton" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">DEALS</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="">CASH ON DELIVERY</a></li>
                        <li><a class="dropdown-item" href="">ONLINE PAYMENTS</a></li>

                    </ul>
                </div>

            </ul>
            <form action="" class="d-flex">
                <input type="text" class="form-control me-2" placeholder="SEARCH">
                <button type="button" class="btn btn-primary">SEARCH</button>
            </form>
        </div>
        
    </nav><br><br> -->
    
    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
        <a class="navbar-brand" href="#" style="font-weight: 900; font-size: 30px; color: green;">VEG <span class="badge bg-danger">Factory</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link " id="navbar" href="services.html">SERVICES</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="navbar" href="locations.html">LOCATIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " id="navbar" href="orders.html">ORDERS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " id="navbar" href="contact.html">CONTACT US</a>
              </li>
            <li class="nav-item dropdown" >
              <a class="nav-link dropdown-toggle text-light"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                DEALS
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
        
      </nav><br><br>
      
    
    <h1 style="font-family: cursive; font-weight: 900; color: whitesmoke;">Order Your favourite Vegiterian Foods ...</h1><br><br><br>


    <div class="container">
        <div class="row">
            <div class="col-4"><div class="card">
                <img src="/static/images/veg-pulao-3.jpg" alt="">
                <div class="card-body">
                    
                        <h2 class="card-title" style="text-align: center; font-family: 'Lucida Sans';">Veg Pulav</h2>
                        <h4 class="card-text" style="text-align: center; font-family: 'Lucida Sans'; color: red;">Rupees 199</h4><br>
                    
                        <button type="button" class="btn btn-primary" >Order NOW</button>
                        <button type="button" class="btn btn-primary">ADD to CART</button>

                        
                
                </div>
            </div></div>
            <div class="col-4"><div class="card">
                <img src="/static/images/pannerbutter.jpeg" alt="" height="50%">
                <div class="card-body">
                    
                        <h2 class="card-title" style="text-align: center; font-family: 'Lucida Sans';">Paneer Butter</h2>
                        <h4 class="card-text" style="text-align: center; font-family: 'Lucida Sans'; color: red;">Rupees 199</h4><br>
                    
                        <button type="button" class="btn btn-primary" >Order NOW</button>
                        <button type="button" class="btn btn-primary">ADD to CART</button>

                        
                
                </div>
            </div></div>
            <div class="col-4"><div class="card">
                <img src="/static/images/masala.jpeg" alt="" height="50%">
                <div class="card-body">
                    
                        <h2 class="card-title" style="text-align: center; font-family: 'Lucida Sans';">Masala Dosa</h2>
                        <h4 class="card-text" style="text-align: center; font-family: 'Lucida Sans'; color: red;">Rupees 199</h4><br>
                    
                        <button type="button" class="btn btn-primary" >Order NOW</button>
                        <button type="button" class="btn btn-primary">ADD to CART</button>

                        
                
                </div>
            </div></div>
        </div><br><br><br>
    </div>
    <div class="container-fluid bg-primary" style="border-radius: 20px 20px 20px 20px;">
        <div class="row">
            <div class="col-3"><br>
                <h4 class="text-center text-light">OUR FIRMS</h4>
                <a href="#" style="text-decoration: none;color: white;">Practice areas</a><br>
                <a href="#" style="text-decoration: none;color: white;">Our locations</a><br>
                <a href="#" style="text-decoration: none;color: white;">Our fees</a>

            </div>
            <div class="col-3"><br>
                <h4 class="text-center text-light">OUR RESULTS</h4>
                <a href="#" style="text-decoration: none;color: white;">Awards and memeberships</a><br>
                <a href="#" style="text-decoration: none;color: white;">Case Results</a><br>
                <a href="#" style="text-decoration: none;color: white;">Client Reviews</a>
                

            </div>
            <div class="col-3"><br>
                <h4 class="text-center text-light">RESOURCES</h4>
                <a href="#" style="text-decoration: none;color: white;">Awards and memeberships</a><br>
                <a href="#" style="text-decoration: none;color: white;">Case Results</a><br>
                <a href="#" style="text-decoration: none;color: white;">Client Reviews</a>
            </div>
            <div class="col-3"><br>
                <h4 class="text-center text-light">ABOUT US</h4>
                <a href="#" style="text-decoration: none;color: white;">Awards and memeberships</a><br>
                <a href="#" style="text-decoration: none;color: white;">Case Results</a><br>
                <a href="#" style="text-decoration: none;color: white;">Client Reviews</a>
            </div><br>
           
            
        </div><br><br>
        <p class="text-center text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aperiam iure ad corporis possimus quas saepe magni pariatur quidem eaque perferendis rerum eos assumenda dignissimos, temporibus omnis ipsum minus voluptates <br><br>@2021 VEG Factory THRISSUR.</p>
    </div>
    
    
</body>
</html>