<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    {% if messages %}
    {% for i in messages %}
    {{i}}
    {% endfor %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="your name"><br>
        <input type="email" name="email" placeholder="your email"><br>
        <input type="password" name="password" placeholder="your password"><br>
        <input type="text" name="address" placeholder="address"><br>
        <input type="text" name="age" placeholder="age"><br>
        <input type="submit" value="register">
    </form>
</body>
</html>